<div id="projects" class="projects-container">
    <h2 class="projects-title">Projects</h2>

    <div class="projects-grid">
        <app-project-card title="Santiago Blues"
            description="Plataforma web para gestión y promoción de servicios de marketing, desarrollada con Angular y Node.js. Incluye frontend moderno y backend API, para mostrar habilidades en desarrollo fullstack."
            githubUrl="https://github.com/AlvaroPdev/SantiagoBlues"
            [techTags]="['TypeScript', 'CSS', 'JavaScript', 'HTML']" />
    </div>
</div>