<section id="projects" class="projects-section">
  <h2 class="section-title">Proyectos</h2>

  <div *ngIf="projects.length > 0" class="projects-grid">
    <div class="column" *ngFor="let project of projects">
      <div  class="project-card">
        <a
          [href]="project.link"
          target="_blank"
          rel="noopener noreferrer"
          class="project-link group"
        >
          <img  [src]="project.image" [alt]="project.title" />
        </a>
        <div class="project-info">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
          <div class="tags-container">
            <span class="tag" *ngFor="let tag of project.tags">
              {{ tag }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="projects.length === 0" class="no-projects">
    No hay proyectos disponibles.
  </p>
</section>
