<section id="skills" class="skills-container" appScrollReveal>
    <h2 class="skills-title">Skills</h2>

    <div class="skills-grid">
        <!-- Frontend -->
        <div class="skill-category">
            <h3>FRONTEND</h3>
            <p><i>Angular 19+</i></p>
            <p><i>TypeScript</i></p>
            <p><i>JavaScript</i></p>
            <p><i>HTML5 & CSS3</i></p>
            <p><i>Tailwind CSS</i></p>
        </div>

        <!-- Backend -->
        <div class="skill-category">
            <h3>BACKEND</h3>
            <p><i>Node.js</i></p>
            <p><i>Express</i></p>
            <p><i>NestJS</i></p>
        </div>

        <!-- Database -->
        <div class="skill-category">
            <h3>BASE DE DATOS</h3>
            <p><i>MongoDB</i></p>
            <p><i>MySQL</i></p>
        </div>

        <!-- Tools -->
        <div class="skill-category">
            <h3>HERRAMIENTAS</h3>
            <p><i>Git & GitHub</i></p>
            <p><i>Jest</i></p>
            <p><i>VS Code</i></p>
            <p><i>Figma</i></p>
        </div>

        <!-- Certifications -->
        <div class="skill-category">
            <h3>CERTIFICACIONES</h3>
            <p><a href="https://www.credly.com/badges/bb5d90b6-3c03-4297-86cc-9e682a7bb4b3" target="_blank"
                    rel="noopener noreferrer"><i>Enterprise Design Thinking</i></a></p>
            <p><a href="https://www.credly.com/badges/eae1b0a8-6f80-499b-8425-c4098c7a624f" target="_blank"
                    rel="noopener noreferrer"><i>IBM Garage Essentials</i></a></p>
            <p><a href="https://www.credly.com/badges/9a54e050-fc7f-4824-81ee-156d3c3e1110" target="_blank"
                    rel="noopener noreferrer"><i>IBM Garage Foundation</i></a></p>
            <p><a href="https://www.credly.com/badges/6ed23030-e989-4af8-af22-b82014313b15" target="_blank"
                    rel="noopener noreferrer"><i>IBM Agile Explorer</i></a></p>
            <p><a href="https://www.credly.com/badges/583b119c-5314-4be2-8370-1ce84f02a5bc" target="_blank"
                    rel="noopener noreferrer"><i>IBM Consulting Way Habits</i></a></p>
        </div>
    </div>
</section>