/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    color-scheme: dark;
}

html,
body {
    @apply m-0 p-0 min-h-screen;
    background-color: #101010;
    overscroll-behavior: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}