/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html,
body {
    @apply m-0 p-0 min-h-screen;
    background-color: #101010;
    overscroll-behavior: none;
}